*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}
.typing-speed-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.typing-speed-test h1 {
  color:aquamarine;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}
.typing-speed-test h1 span {
  transition: 0.5s ease-out;
}

.typing-speed-test h1:hover span:nth-child(1) {
  margin-right: 5px;
}

.typing-speed-test h1:hover span:nth-child(1):after {
  content: "'";
}

.typing-speed-test h1:hover span:nth-child(2) {
  margin-left: 30px;
}

.typing-speed-test h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
/* Styling for the paragraph display area */
.test-area {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background: linear-gradient(to top right, rgb(7, 35, 45), rgb(58, 69, 84));
  background: -webkit-linear-gradient(to top right, rgb(7, 27, 45), rgb(58, 68, 84));
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.paragraph {
  font-size: 200%;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 20px;
}

/* Text area for typing input */
.type-input-area {
  width: 100%;
  height: 150px;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #555;
  border-radius: 5px;
  resize: none;
  outline: none;
  background-color: #333;
  color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: border-color 0.3s;
}

.type-input-area:focus {
  border-color: #007bff;
}

/* Correct and incorrect typing color highlights */
.correct {
  background-color: #c8e6c9;
  color:black;
}

.incorrect {
  background-color: #ffcdd2;
  color:black;
}


/* Info box for timer and WPM */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.timer {
  font-size: 24px;
  margin-bottom: 10px;
  color:darkseagreen;
}

.wpm {
  font-size: 24px;
  font-weight: bold;
  color:honeydew;
  margin-bottom: 10px;
}

.start-button {
  min-height: 53px;
  min-width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-12.74%, rgba(110, 239, 255, .5)), color-stop(56.76%, rgba(106, 224, 255, .271)));
  background: linear-gradient(90deg, rgba(110, 239, 255, .5) -12.74%, rgba(106, 224, 255, .271) 56.76%);
  border: 2px solid #acf7ff;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}

.start-button::before {
  content: "";
  width: 4px;
  height: 28px;
  background: #19173b;
  border: 2px solid #acf7ff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  bottom: -7px;
  left: 4px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.start-button::after{
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-top: 15px solid transparent;
  border-left: 15px solid #fffcf7;
}
button:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, rgba(110, 239, 255, 1) -12.74%, rgba(106, 224, 255, 1) 56.76%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
  .test-area {
    width: 95%;
  }

  .paragraph {
    font-size: 16px;
  }

  .input-area {
    height: 120px;
  }
}
