* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-container {
    padding: 20px;
}

.search-container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.weather-search-input {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: whitesmoke;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.weather-search-button{
    position: relative;
    background: linear-gradient(277deg, rgba(213, 213, 213, 0.1) 0%, rgba(213, 213, 213, 0.02) 50%, rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.2) 100%),
                linear-gradient(295deg, rgba(73, 73, 73, 0.3) 0%, rgba(73, 73, 73, 0.1) 50%, rgba(229, 229, 229, 0.1) 50%, rgba(229, 229, 229, 0.03) 100%),
                linear-gradient(145deg, rgba(77, 77, 77, 0.1) 0%, rgba(77, 77, 77, 0.1) 50%, rgba(123, 123, 123, 0.1) 50%, rgba(123, 123, 123, 0.1) 100%),
                linear-gradient(54deg, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(29, 29, 29, 0.2) 50%, rgba(29, 29, 29, 0.03) 100%),
                linear-gradient(170deg, rgba(9, 9, 9, 0.02) 0%, rgba(9, 9, 9, 0.02) 50%, rgba(243, 243, 243, 0.02) 50%, rgba(243, 243, 243, 0.02) 100%),
                linear-gradient(264deg, rgba(214, 214, 214, 0.01) 0%, rgba(214, 214, 214, 0.01) 50%, rgba(153, 153, 153, 0.01) 50%, rgba(153, 153, 153, 0.01) 100%),
                linear-gradient(90deg, rgb(99, 48, 222), rgb(76, 212, 233));
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 25px 7px;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all 0.7s ease;
    cursor: pointer;
}

.weather-search-button:after {
    position: absolute;
    top: 20%;
    left: 50%;
    background: linear-gradient(45deg, rgb(46, 94, 149), rgb(59, 131, 209), rgb(67, 91, 142));
    width: 150px;
    height: 30px;
    content: '';
    transform: translate(-50%);
    border-radius: 25px 7px;
    filter: blur(20px);
    z-index: -1;
}

.weather-search-button:hover {
    border-radius: 7px 25px;
    background: linear-gradient(45deg, rgb(239, 7, 129) 0%, rgb(239, 7, 129) 6%, rgb(208, 10, 112) 6%, rgb(208, 10, 112) 25%, rgb(177, 13, 96) 25%, rgb(177, 13, 96) 40%, rgb(147, 16, 79) 40%, rgb(147, 16, 79) 45%, rgb(116, 19, 62) 45%, rgb(116, 19, 62) 53%, rgb(85, 22, 46) 53%, rgb(85, 22, 46) 66%, rgb(54, 25, 29) 66%, rgb(54, 25, 29) 100%);
    letter-spacing: .2em;
    border: 1px solid white;
}


.weather-search-button:disabled {
    background:grey;
    cursor: not-allowed;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.spinner {
    border: 8px solid #3b82f6;
    border-top: 8px solid #a5b4fc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.error-icon {
    font-size: 128px;
    color: #ef4444;
    margin-bottom: 20px;
}

.error-text {
    color: #ef4444;
    font-size: 16px;
}

.weather-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: #cbd5e0;
}

.city-name {
    font-size: 24px;
    font-weight: bold;
}

.country-name {
    font-weight: normal;
}

.date {
    font-size: 18px;
    font-weight: lighter;
    margin-top: -10px;
}

.weather-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.weather-icon {
    font-size: 100px;
    margin-bottom: 20px;
}

.temperature-container {
    text-align: center;
}

.temperature {
    font-size: 48px;
    font-weight: semibold;
}

.degree {
    font-size: 32px;
}

.weather-description {
    font-size: 16px;
    font-weight: lighter;
}
