* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.matches-container {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.matches-container h1 {
  color:aquamarine;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.error-message {
  background-color: red;
  color: wheat;
  font-size: 18px;
  margin: 20% 40%;
}

.matches-list {
  list-style: none;
  padding: 0;
}

.match-item {
  background-color:azure;
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  transition: transform 0.3s ease;
}

.match-item:hover {
  transform: translateY(-5px);
}

.match-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.team-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-logo {
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
}

.team-name {
  font-size: 16px;
  margin: 0;
}

.score-info {
  text-align: center;
}

.score-info h2 {
  font-size: 22px;
  margin: 5px 0;
  color: #333;
}

.score-info p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.spinner {
  border: 8px solid #3b82f6;
  border-top: 8px solid #a5b4fc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 25% auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 600px) {
  .team-logo {
    width: 20px;
    height: 20px;
  }

  .team-name {
    font-size: 12px;
  }

  .score-info h2 {
    font-size: 14px;
  }

  .score-info p {
    font-size: 12px;
  }

  .matches-container h1 {
    font-size: 2rem;
  }
}
