* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(10, 63, 66);
    padding: 1rem;
    position: relative;
}

.nav-logo {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
}
.nav-logo:hover{
    color:seagreen;
}

.nav-ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.nav-item {
    margin-left: 1rem;
    position: relative; 
}

.nav-item a {
    color: #8ce436;
    text-decoration: none;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: 1px solid #8ce436;
    box-shadow: 0 0 5px #8ce436, 0 0 5px inset;
    transition: background-color 0.3s ease;
    position: relative; 
}

.nav-item a:hover {
    background-color: seagreen;
    border-radius: 5px;
}

.nav-item a:after {
    position: absolute;
    content: "";
    top: 5px;
    left: 6px;
    width: 90%;
    height: 70%;
    border: 1px solid seagreen;
    box-shadow: 0 0 5px #8ce436 inset;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-item a:hover:after {
    opacity: 1;
}


.menu-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-ul {
        padding-bottom: 20%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(10, 63, 66);
        display: none;
        z-index: 999;
    }

    .nav-ul.open {
        display: flex;
    }

    .nav-item {
        margin-left: 0;
        margin-top: 3rem;
        width: 100%;
    }

    .nav-item a {
        width: 100%;
        text-align: center;
        font-size: 12px; 
        padding: 0.75rem 3rem; 
        border:.5px solid seagreen;
        box-shadow: none;
    }
    .nav-item a:after {
        position: absolute;
        content: "";
        top: 5px;
        left: 6px;
        width: 90%;
        height: 70%;
        border: 1px solid seagreen;
        box-shadow: 0 0 5px #8ce436 inset;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu-icon {
        display: block;
    }
}