*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.Dict {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 100px;
}

.Dict > span {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        color: aquamarine;
        text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
    }

    10%, 90% {
        color:rgba(127, 255, 212, 0.253);
        text-shadow: none;
    }
}

.Dict > span:nth-child(1) {
    animation-delay: 0s;
}

.Dict > span:nth-child(2) {
    animation-delay: 0.25s;
}

.Dict > span:nth-child(3) {
    animation-delay: 0.5s;
}

.Dict > span:nth-child(4) {
    animation-delay: 0.75s;
}

.Dict > span:nth-child(5) {
    animation-delay: 1s;
}

.Dict > span:nth-child(6) {
    animation-delay: 1.25s;
}

.Dict > span:nth-child(7) {
    animation-delay: 1.5s;
}

.Dict > span:nth-child(8) {
    animation-delay: 1.75s;
}

.Dict > span:nth-child(9) {
    animation-delay: 2s;
}

.Dict > span:nth-child(10) {
    animation-delay: 2.25s;
}

.Dict > span:nth-child(11) {
    animation-delay: 2.5s;
}


.dictionary-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: darkseagreen;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.dictionary-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dictionary-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    max-width: 300px;
}

.dictionary-button {
    padding: 0px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(0deg, rgb(0, 115, 255) 0%, rgb(2, 56, 251) 100%);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 40px;
    position: relative;
    overflow: hidden;
}

.dictionary-button:hover {
    background-color: #55789d;
    text-decoration: none;
    color: #fff;
    opacity: .7;
}

.dictionary-button:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.dictionary-button:active {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


.dictionary-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.dictionary-results {
    margin-top: 20px;
}

.dictionary-results h2 {
    color: black;
    margin-bottom: 10px;
}

.dictionary-results p {
    color: darkblue;
    margin-bottom: 10px;
}

.dictionary-meaning {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.dictionary-meaning h3 {
    color: darkred;
    margin-bottom: 10px;
}

.dictionary-definition {
    margin-bottom: 10px;
    color: black;
}

.dictionary-example {
    font-style: italic;
    color: black;
    margin-top: 5px;
}

.dictionary-synonyms,
.dictionary-antonyms {
    margin-top: 10px;
    color: darkviolet;
}

@media (max-width: 600px) {
    .dictionary-container {
        padding: 15px;
    }
    .Dict {
        font-size: 50px;
    }
    .dictionary-form {
        flex-direction: column;
        align-items: center;
    }

    .dictionary-input {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .dictionary-button {
        width: 100%;
    }
}
